.Header {
  align-self: flex-start;
  width: var(--widthScream);
  margin: auto;
}

.Header h1 {
  margin-right: 10px;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .Header {
    width: 90vw;
  }
}

button {
  border: 1px solid black;
  border-radius: 7px;
  margin: auto;
}