.Header {
  align-self: flex-start;
  width: var(--widthScream);
  margin: auto;
  color: white;
}

.Header h1 {
  margin-right: 10px;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .Header {
    width: 90vw;
  }
}

button {
  border: 1px solid black;
  border-radius: 7px;
  margin: auto;
  min-height: 38px;
  background-color: none;
}

.login-btn {
  border: 1px solid black;
  border-radius: 7px;
  margin: auto;
  min-height: 38px;
  background-color: white;
  text-decoration: none;
  color: black;
  width: 12vw;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}