.Filtes {
  width: 100%;
  margin: 10px;
  justify-content: space-evenly;
  color: 'white';
}

.Filtes input {
  width: calc(var(--widthScream) / 2 );
  border-radius: 5px;
  flex-grow: 1;
  border: none;
}

.Filtes select {
  width: calc(var(--widthScream) / 4 );
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.checkbox {
  margin-left: 5px;
}

#check {
  width: 5vw;
  margin: 0;
}

.css-1nmdiq15-menu {
  color: black;
}

.text-input {
  min-height: 38px;
  margin-left: 5px;
}