body {
  background-color: rgb(17, 17, 17);
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-btw {
  justify-content: space-between;
}

#root {
  width: 100vw;
}